language: android
dist: trusty
before_script:
      - cd src
env:
  global:
    # switch glibc to a memory conserving mode
    - MALLOC_ARENA_MAX=2
    # wait up to 10 minutes for adb to connect to emulator
    - ADB_INSTALL_TIMEOUT=10

android:
  components:
    - platform-tools
    - extra-android-m2repository
    - build-tools-29.0.2
    - android-29
    - sys-img-armeabi-v7a-android-25

script:
  - ./gradlew assemble lint
